@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #f3f3f3;
    --text-color: #fff;
    --second-text-color: #3cb018;
    --third-text-color: #585858;
    --main-color: #259b00;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.container-unggah {
    text-align: center;
}

h1, h2 {
    color: #444;
}

.plot img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: black;

}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

a:hover {
    color: #45a049;
    text-decoration: underline;
}



html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--second-text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--third-text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--second-text-color);
    font-size: 1.8rem;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}


.beranda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beranda-content{
    color: var(--second-text-color);
}

.beranda-content h1 span {
    color: var(--third-text-color);
}

.beranda .beranda-konten h1 span {
    color: var(--third-text-color);
}

.beranda-img img {
    width: 33vw;
    animation: floatimage 4s ease-in-out infinite;
}

@keyframes floatimage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.beranda-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.beranda-content h3:nth-of-type(2) {
   margin-bottom: 2rem;
}

span {
    color: var(--third-text-color);
}

.beranda-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.beranda-content p{
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
}

.btn:hover {
    box-shadow: none;
}



.kelompok {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
}

.kelompok-img img {
    width: 33vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.kelompok-content h2 {
    text-align: left;
    line-height: 1.2;
    color: var(--main-color);
}

.kelompok-content h3 {
    font-size: 2.6rem;
    color: var(--second-text-color);
}

.kelompok-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color: var(--third-text-color);
}




.kasus h2 {
    margin-bottom: 5rem;
    color: var(--second-text-color);
}

.kasus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.kasus-container img {
    width: 75%;
}

.kasus-container .kasus-box {
    color: var(--second-text-color);
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.kasus-container .kasus-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}


.kasus-box i {
    font-size: 7rem;
    color: var(--main-color);  
}

.kasus-box h3 {
    font-size: 2.6rem;
}

.kasus-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: var(--third-text-color);

}

.materi {
    background: var(--second-bg-color);
}

.materi h2 {
    margin-bottom: 4rem;
    color: var(--second-text-color);
}

.materi-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 20px;
}

.materi-container img {
    height: 100%;
}

.materi-container .materi-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.materi-box img {
    width: 100%;
    transition: .5s ease;
}

.materi p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: var(--second-text-color);
}

.materi-box:hover img {
    transform: scale(1.1);
}

.materi-box .materi-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.materi-box:hover .materi-layer {
    transform: translateY(0);
}

.materi-layer h4 {
    font-size: 3rem;
}

.materi-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.materi-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.materi-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}



.proyek {
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;

}



.proyek .heading span {
    color: #28a745;
}

/* Subjudul */
.proyek h1 {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 20px;
}

/* Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Input File Styling */
.file-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    outline: none;
    font-size: 1rem;
}

/* Label File */
.file-label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #444;
}

/* Tombol Submit */
.btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #218838;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    color: var(--second-text-color);
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* Breakpoint */
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px){
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .kasus {
        padding-bottom: 7rem;
    }

    .materi {
        padding-bottom: 7rem;
    }

    .proyek {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    
    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .beranda {
        flex-direction: column;
    }

    .beranda-content h3 {
        font-size: 2.6rem;
    }

    .beranda-content h1 {
        font-size: 5rem;
    }

    .beranda-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .pemetaaan {
        flex-direction: column-reverse;
    }

    .pemetaaan img {
        width: 70vw;
        margin-top: 4rem;
    }

    .kasus h2 {
        margin-bottom: 3rem;
    }

    .materi h2 {
        margin-bottom: 3rem;
    }

    .materi-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .materi-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .proyek form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .beranda-img img {
        width: 90vw;
    }

    .pemetaaan-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}